#scroll::-webkit-scrollbar{
    width: 10px;
    border-radius: 1px;
    background: transparent;
  }
#scroll::-webkit-scrollbar-track{
   background:transparent ;
   border: 2px solid darkslategray;
   border-radius: 4px;
  
  } 
#scroll::-webkit-scrollbar-thumb{
    width: 24px;
    background: #003546;
    border-radius: 8px; 
   }

#scroll-con::-webkit-scrollbar{
    width: 10px;
    border-radius: 1px;
    background: transparent;
  }
#scroll-con::-webkit-scrollbar-track{
   background:transparent ;
   border: 2px solid darkslategray;
   border-radius: 4px;
  
  } 
#scroll-con::-webkit-scrollbar-thumb{
    width: 24px;
    background: #003546;
    border-radius: 8px; 
}
.left-side{
    margin-top:-1vw;
}
.right-side{
    margin-top:-1vw;
}
.que-card{
    height:30vw;
    width:43vw;
    background:linear-gradient(to right,#003e3f,#001122);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    color:white;
}
.que-body{
    overflow-y: auto;
}
.check{
    color:white;
}
.custom-area{
    background:linear-gradient(to right,#003e3f,#001122);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    color:white;
    width:43vw;
    height:20vw;
    padding:10px;
    outline: none;
    resize:none;
    overflow-y: auto;
}
.editor{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5) !important;
    height:30vw !important;
    width:43vw !important;
    font-size: 15px !important;
}
.score{
    background: #26A69A;
    border-radius: 5px;
    color:white;
    height:3vw;
    width:10vw;
    font-size:20px;
    text-align:center; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
.file{
    height:auto;
    width:8vw;
    align-items: center;
    background: #26A69A;
    border-radius: 5px;
    color:white;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
.file-bod{
    cursor: pointer;
}
.inp{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top:0.5vw;
}
#dropdown-basic{
   cursor:pointer;
    width: 120px;
    height: 40px;
    color:white;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 10px;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.opt{
    cursor: pointer;
    color:grey;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    background:#26A69A;
}
select{
    background: #26A69A;
}
.bt{
    margin-left:5.7vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    outline:none !important;
    background: #26A69A;
}
.bt:hover{
    background: #26A69A;
    box-shadow: none;
    outline:none !important;
}
.cbt{
    background: #26A69A;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.5) !important;
}
.cbt{
    background: #26A69A !important;
    box-shadow: none;
}


/* Media Query */

@media(max-width:425px){
    .score{
        width:35vw;
        height:12vw;
        margin-top:15vw;
    }
    .que-no{
        margin-top:15vw;
        margin-left:13vw !important;
    }
    .que-card{
        height:100vw;
        width:75vw;
    }
    .custom-area,.console{
        height:45vw;
        width:75vw;
    }
    .cust-inp{
        font-size:35px !important;
    }
    .editor{
        height:75vw !important;
        width:75vw !important;
    }
    .lang{
        margin-top:10vw;
    }
    .bt{
        margin-left:6vw;
        font-size: auto;
    }
    .cbt{
        margin-left:-6vw;
        font-size:auto;
    }
    .left-side,.right-side{
        margin-left:-1vw;
    }
    .file{
        width:30vw;
        margin-right:-3vw !important;
    }
    
}

@media(max-width:380px){
    .bt{
        margin-left:4vw;
    }
    .cbt{
        margin-left:-7vw;
    }
    .left-side,.right-side{
        margin-left:-3vw;
    }
}

@media(max-width:365px){
    .right-side{
        margin-left:-5vw;
    }
}