/*.brdr{
    border:1px solid red;
}*/
.whole{
    height:100%;
    width:100%;
}
.inst-box{
    position: absolute;
    left:25%;
    top:17%;
    box-sizing: border-box;
    height:32vw;
    width:45vw;
    border:2px solid linear-gradient(#53e3a6,#001122);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(0,0,0,0.5);
    font-size: 18px;
}
.inst-title{
    margin-left:5vw;
    width:30vw;
    justify-content: center;
    text-align: center;
    color:white;
    font-weight: 900;
    text-align: center;
    border-bottom:1px solid #adadad;
    z-index:2;
}
.inst-content{
    color:white;
    overflow-y:auto;
}
.inst-foot{
    position: absolute;
    right:-12%;
    top:40%;
}
.pro{
    position: absolute;
    top:2vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    width:12vw;
    height:auto;
    font-size:18px;
}
.pro:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    box-shadow: none;
}
.fa-hand-o-right{
    font-size:25px;
}
.fa-lightbulb-o{
    font-size: 35px;
}
.confirm{
    position: relative;
    height:5vw;
    padding: 1.3vw;
    border-top:1px solid #adadad;
    text-align: center;
    color:white;
}
.confirm > label input{
    height:20px;
    width:20px;
    margin-right:0.8vw;
    cursor:pointer;
}
.confirm > label input:checked{
    appearance: none;
    background-color:#53e3a6;
    position: relative;
}
.confirm > label input:checked::after{
    content: "\2713";
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    left:2px;
}
.confirm-txt{
    position: relative;
    bottom:0.25vw;
}

/* Media Query */

@media(min-width:1500px){
    .inst-box{
        font-size:25px;
        margin-top: 3vw;
    }
    .inst-title{
        font-size:35px;
    }
    .pro{
        height:4vw;
        width:15vw;
        font-size:32px;
    }
    .fa-hand-o-right{
        font-size:30px;
        top:-0vw;
    }
    .confirm > label input{
        height:25px;
        width:25px;
        margin-right:0.8vw;
        cursor:pointer;
    }
    .confirm > label input:checked{
        appearance: none;
        background-color:#53e3a6;
        position: relative;
    }
    .confirm > label input:checked::after{
        content: "\2713";
        position: absolute;
        color: white;
        top: 50%;
        transform: translateY(-50%);
        left:2px;
    }
    .confirm-txt{
        position: relative;
        bottom:0.1vw;
    }
}

@media(max-width:425px){
    .inst-box{
        position: absolute;
        top:21%;
        left:10%;
        height:100vw;
        width:80vw;
    }
    .inst-title{
        width:60vw;
        font-size:15px;
        margin-bottom: 1vw;
    }
    .fa-lightbulb-o{
        font-size:35px;
    }
    .inst-content{
        display:flex;
        font-size: 17px;
    }
    .pro{
        width:40vw;
        left:30%;
    }
    .confirm{
        height:max-content;
        font-size: 14px;
    }
    .confirm > label input{
        height:15px;
        width:15px;
        margin-right:2vw;
        margin-top:1vw;
        cursor:pointer;
    }
    .inst-foot{
        position: absolute;
        top:80%;
        left:5%;
    }
    
    
}


