.modal-content{
    border:none !important;
    background-image: linear-gradient(to bottom right,#003e3f,#001122);
    color: white;
    
}
.modal-footer{
    border: none  !important;
}
.modal-title{
    border: none !important;
}
.logout{
    text-decoration: none;
    color:white;
}
.logout:hover{
    text-decoration: none;
    background:#26A69A;
    border-radius:2px;
    color:white !important;
}