.ht{
    color:white;
    font-weight: 900 !important;
    font-size:32px !important;
  }
  .ncc{
    height:50px;
    width:55px;
  }
  .logo{
    height:40px;
    width:115px;
  }
  .nbt{
    position: absolute;
    top:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.9);
    z-index:5;
  }
  .no {
    color:white;
    margin-right:1.5vw;
}
  .no:hover{
    background-color: #26A69A ;
    border-radius: 2px;
    color:white;
  }
  .no:focus{
    background-color: #26A69A ;
    border-radius: 2px;
    font-weight:bold;
    text-decoration:solid;
    color:white;
  }

  /* Media Query */

@media(max-width:425px){
  .ctdlogo{
    height:130px;
    width:260px;
  }
}
@media(max-width:325px){
  .footer{
    font-size:15px;
  }
  .ctdlogo{
    height:100px;
    width:200px;
  }
}