.ht{
    color:white;
    font-weight: 900 !important;
    font-size:32px !important;
  }
  .ncc{
    height:60px;
    width:65px;
  }
  .logo{
    height:40px;
    width:115px;
  }
  .nbt{
    position: absolute;
    top:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.9);
    z-index:5;
  }
  .ncc-title{
    margin-left:35%;
    margin-top:1vw;
    color:#fff;
  }
  .no {
    position: relative;
    color:white;
    margin-right:1.5vw;
}
  .no:hover{
    color:white;
  }
  .no::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index:-1;
    background-color: #26A69A;
    color: transparent;
    width: 0%;
    content: "";
    height: 3vw;
    transition: all 0.25s;
    border-radius: 3px;
  }
  .no:hover::after {
    width: 100%;
    color:#fff !important;
  }
  .navbar .navbar-nav .currentpage::after{
    width: 100%;
    color:#fff !important;
  }

  /* Media Query */

@media(max-width:425px){
  .no::after{
    height:10vw;
  }
  .ncc-title{
    margin-left:5% !important;
    font-size: 20px;
    margin-top:2vw;
  }
}

@media(max-width:403px){
  .ncc-title{
    font-size: 14px;
  }
}
@media(max-width:376px){
  .ncc-title{
    font-size: 14px;
  }
}

@media(min-width:1440px){
  .no::after{
    height:2.55vw;
  }

  .ncc-title{
    margin-left: 38%;
  }
}