/* PRELOADER */
  .qloader-p{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top:25%;
    left: 40%;
  }
  
  .qloader-p:before, .qloader-p:after{
    content: '';
    border: 1em solid #15e38a;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: qloader 2s linear infinite;
    opacity: 0;
  }
  
  .qloader-p:before{
    animation-delay: 0.5s;
  }
  
  @keyframes qloader{
    0%{
      transform: scale(0);
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100%{
      transform: scale(1);
      opacity: 0;
    }
  }

