.rcard{
    display: flex;
    justify-content: center;
}
.sub-card{
    height:9vw;
    width:70vw;
    background: linear-gradient(to right,#003e3f,#001122);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    margin-left:15%;
    margin-top:2vw;
    color:white;
}
/*.view{
    width:10vw;
    height:3vw;
    background-color: transparent !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    font-size:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}*/
/*.view:hover{
    box-shadow: none;
    transform: scale(1.03);
}*/
.progress-bar{
    color:black;
    text-align: center;
    background:#0a795d;
}
.progress1{
    display: flex;
    width:20vw;
    margin-left:20%;
    margin-top:-0.1vw;
}
.info{
    color:white;
}
.paginate {
    outline: none;
    color:white;
    list-style: none;
    outline: none;
    display: flex;
    height:4vh;
   }
    
   .paginate>.active>a {
    background-image: linear-gradient(#53e3a6,#003546);
    color:white;
   }
    
   .paginate>li>a {
    padding: 10px 15px !important;
    outline: none;
    cursor: pointer;
   }
   
   .paginate>li>a, .pagination>li>span {
    background-image: linear-gradient(to top right, #152238  0%, #031025 100%);
   }

@media(max-width:425px){
    .sub-card{
        height:30vw;
        width:90vw;
        margin-left:7vw !important;
        margin-top:10vw;
    }
    .views{
        width:15vw !important;
        height:7vw !important;
        margin-top:-1vw !important;
        background: transparent !important;
    }
    .progress1{
        height:8vw;
        width:vw;
        margin-left:10vw;
    }
    .time{
        text-align: left; 
        font-size:14px !important;
    }
    .paginate{
        margin-left:-5vw;
        margin-top:17vw; 
    }
    .paginate>li>a {
        padding: 4px 8px!important;
    }
}

@media(max-width:375px){
    .paginate>li>a {
        padding: 5px 10px !important;
    }
}

@media(max-width:340px){
    .paginate>li>a {
        padding: 4px 8px !important;
        font-size: 14px;
    }
}
@media(max-width:1100px){
    .sub-card{
        height:11vw;
        width:70vw;
        margin:0 auto;
        margin-top:2vw;
        
    }
    .view{
        width:10vw;
        height: 2em;
        position: relative;
        margin-left:-5vw;
        margin-top:-0vw;
        bottom: 0em;
        left: 5em;

    }
    .progress1{
        height:3vw;
        width:20vw;
        margin-left:-15vw;
        margin-top:-1vw;
        position: relative;
        left: 4em;
    }
    .time{
        text-align: left;
        position: relative;
        bottom: 0.5em;
    }
}

@media(max-width:950px){
    .sub-card{
        height:11vw;
        width:70vw;
        margin:0 auto;
        margin-top:2vw;
        
    }
    .view{
        width:10vw;
        height: 1em;
        position: relative;
        margin-left:-5vw;
        margin-top:-0vw;
        bottom: 0em;
        left: 2em;

    }
    .progress1{
        height:2vw;
        width:20vw;
        margin-left:-15vw;
        margin-top:-1vw;
        position: relative;
        left: 2em;
    }
    .time{
        text-align: left;
        position: relative;
        bottom: 0.5em;
       
      
    }
}

@media(max-width:850px){
    .sub-card{
        height:15vw;
        width:70vw;
        margin:0 auto;
        margin-top:2vw;
        
    }
    .view{
        width:10vw;
        height: 1em;
        position: relative;
        margin-left:-5vw;
        margin-top:0vw;
        bottom: -0.2em;
        left: 3em;

    }
    .progress1{
        height:3vw;
        width:20vw;
        margin-left:-15vw;
        margin-top:-1vw;
        position: relative;
        left: 2em;
    }
    .time{

        position: relative;
        bottom: 0.5em;
       
      
    }
}

@media(max-width:770px){
    .sub-card{
        height:15vw;
        width:70vw;
        margin:0 auto;
        margin-top:2vw;
        
    }
    .view{
        width:10vw;
        height: 1em;
        position: relative;
        margin-left:-5vw;
        margin-top:-0vw;
        bottom: 0em;
        left: 2em;

    }
    .progress1{
        height:3vw;
        width:22vw;
        margin-left:-15vw;
        margin-top:-1vw;
        position: relative;
        left: 2em;
    }
    .time{
        text-align: left;
        position: relative;
        bottom: 0.7em;
       
      
    }
}
@media(max-width:680px){
    .sub-card{
        height:17vw;
        width:70vw;
        margin:0 auto;
        margin-top:3vw;
        
    }
    .view{
        width:10vw;
        height: 1em;
        position: relative;
        margin-left:-5vw;
        margin-top:-0vw;
        bottom: 0em;
        left: 1em;

    }
    .progress1{
        height:3vw;
        width:20vw;
        margin-left:-10vw;
        position: relative;
        left: 0.3em;
        bottom: 0.2em;
    }
    .time{
        text-align: left;
        position: relative;
        bottom: 1em;
       
      
    }
}

@media(max-width:620px){
    .sub-card{
        height:19vw;
        width:80vw;
        margin:0 auto;
        margin-top:4vw;
        
    }
    .logo{
        height: 2em;
    }
    .view{
        width:10vw;
        height: 1em;
        position: relative;
        margin-left:-5vw;
        margin-top:-0vw;
        bottom: 0em;
        left: 1em;

    }
    .progress1{
        height:4vw;
        width:25vw;
        margin-left:-15vw;
        margin-top:-1vw;
        position: relative;
        left: 2em;
    }
    .time{
        text-align: left;
        position: relative;
        bottom: 0.8em;
       
      
    }
}
@media(max-width:545px){
    .sub-card{
        height:22vw;
        width:80vw;
        margin:0 auto;
        margin-top:4vw;
        
    }
    .view{
        width:10vw;
        height: 0.8em;
        position: relative;
        margin-left:-5vw;
        margin-top:-0vw;
        bottom: 0em;
        left: 0.4em;

    }
    .progress1{
        height:4vw;
        width:25vw;
        margin-left:-15vw;
        margin-top:-0vw;
        position: relative;
        left: 0em;
        bottom: 1em;
    }
    .time{
        text-align: left;
        position: relative;
        bottom: 0.8em;
        left: -0.8em;
       
      
    }
}
@media(max-width:450px){
    .sub-card{
        height:27vw;
        width:80vw;
        margin:0 auto;
        margin-top:10vw;
        
    }
    .view{
        width:10vw;
        height: 0em;
        position: relative;
        margin-left:-5vw;
        margin-top:0vw;
        bottom: 0em;
        left: 0.4em;

    }
    .progress1{
        height:4vw;
        width:25vw;
        margin-left:-15vw;
        margin-top:-0vw;
        position: relative;
        left: 0em;
        bottom: 1em;
    }
    .time{
        text-align: left;
        position: relative;
        bottom: 0.8em;
        left: -0.8em;
        font-size: 0.8em;
       
      
    }
}
@media(max-width:360px){
    .sub-card{
        height:35vw;
        width:80vw;
        margin:0 auto;
        margin-top:8vw;
        
    }
    .view{
        width:10vw;
        height: 0em;
        position: relative;
        margin-left:-5vw;
        margin-top:0vw;
        bottom: 0em;
        left: 0.4em;
        font-size: 0.8em;;

    }
    .progress1{
        height:4vw;
        width:25vw;
        margin-left:-15vw;
        margin-top:-0vw;
        position: relative;
        left: 0em;
        bottom: 0.5em;
    }
    .time{
        text-align: left;
        position: relative;
        bottom: 0.8em;
        left: -1.3em;
        font-size: 0.6em; 
    }
    .paginate{
        margin-left:-5vw !important;
    }

}
@media(max-width:360px){
    .sub-card{
        height:35vw;
        width:80vw;
        margin:0 auto;
        margin-top:10vw;   
    }
    
}