@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');
@import "~react-component-countdown-timer/lib/styles.css";


.time{
	margin-left:2vw;
	color: white;
}
.count{
	background-color: lightgrey;
	color:#000;
	border-radius: 5px;
	padding:5px;
}

@media(max-width:425px){
	.time{
		margin-top:4vw;
	}
	.count{
		padding:4px;
	}

}