.resultcard{
    /* height: 500px;*/
    width: 350px; 
    height: 140px;
    border-radius: 0.5vw 3vw;
    margin-top:4vh;
    text-align: center;
    z-index: -1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right,#003e3f,#001122);
}
.resultpage{
    margin-top:-3vw;
}
.svgs{
    width: 180px;
    height: 180px;
    color: white;
}
.svg-down{
    margin-top: 20vh;
}
.svg-rank{
    color: white;
    text-align: center;
}
.res-text{
    background: -webkit-linear-gradient(#53e3a6,#fff);
    background-clip: text;
    -webkit-text-fill-color:transparent; 
    margin: 30px;
}
.alert{
    text-align: center;
}
/* check animation*/

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 4;
    stroke-miterlimit: 10;
    stroke: green;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right:2vw;
    stroke-width: 3;
    stroke: green;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.5, 1.5, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 50px whitesmoke;
    }
  }

  


@media only screen and (max-width: 600px) {
    .resultcard{
        /* height: 400px;
        width: 280px;
        margin-bottom: 4vh;       */
        height: 120px;
        width: 280px;
        margin-left: 18vw;
        margin-top:10vw;
        
    }
    .res-text{
        margin: 20px;
    }
    .svg-down{
        margin-top: 2vh;
    }
    .bronze{
        margin-bottom: 70px;
    }
}