
 .card-preview{
    width: 25%;
    margin-right: 3vw;
    margin-top: 7vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right,#003e3f,#001122);
    cursor:pointer;
 }
 .card-heading, .card-status{
    text-align: center;
    background: -webkit-linear-gradient(#53e3a6,#fff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
 }
  .card-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    
  }

  /* Cross animation */

  .cross {
    width: 50px;
    display: block;
    margin: 0 auto 0;
  }
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
  .path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
  }
  .path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
  }
  .path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
    animation: dash-check 0.9s 0.35s ease-in-out forwards;
  }
  p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;
  }
  p.success {
    color: #73AF55;
  }
  p.error {
    color: #D06079;
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }

  @media only screen and (min-width : 768px) and (max-device-width : 795px) {
    .card-heading{
        font-size:1em;
    }
  }
  @media only screen and (min-width : 990px) and (max-device-width : 1200px) {
    .card-heading{
        font-size:1em;
    }
  }

  @media only screen and (max-width: 768px) {
    .card-preview{
        width:auto;
    }
  }
